doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, inital-scale=1")

        <!-- ajax and jquery -->
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="https://code.jquery.com/jquery-1.12.4.js")

        <!-- bootstrap -->
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css",
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js",
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

        <!-- fontawesome -->
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css",
            integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin="anonymous")

        <!-- google chart -->
        script(type="text/javascript", src="https://www.gstatic.com/charts/loader.js")

        <!-- google font -->
        link(href='https://fonts.googleapis.com/css?family=Monda', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Kaushan Script', rel='stylesheet')
        link(href="css/topbar.css", rel="stylesheet")

        <!-- Count up -->
        script(type="text/javascript", src="javascript/countUp.js")

        <!-- tooltip -->
        script(src="javascript/popper.js")

        <!-- d3 -->
        script(type="text/javascript", src="https://d3js.org/d3.v5.min.js")

        <!-- customized -->
        link(href="css/header.css", rel="stylesheet")
        link(href="css/index.css", rel="stylesheet")

        body
            include topbar.pug
            include header.pug
            include auth.pug

            div(id="botometer-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
                div(class="modal-dialog")
                    div(class="modal-content")
                        div(class="modal-body")
                            button(class="close" data-dismiss="modal") &times;
                            div(class="login-header")
                                img(src="img/botometer-sm-logo.png", width=80)
                                h2 Botometer
                            div(class="login-notes")
                                p
                                    a(href="https://botometer.iuni.iu.edu/#!/", target="_blank")  Botometer
                                    |  checks the activity of a Twitter account and gives it a score based on
                                    |  <b>how likely the account is to be a bot</b>.
                                    |  BAE is using the free version of the API which is subject to rate limit of 2000
                                    |  requests per day shared among all the BAE users.
                                    |  If you receive an error message, the quota for the current date might have exceeded.
                                p(style="display:inline-block") Would you like to check&nbsp;
                                p(id="botometer-screen-name")
                                p(style="display:inline-block") &nbsp;is a bot?
                            div(class="loading")
                                img(src="img/bae_loading_md.gif")
                            div(id="botometer-display")
                                p Bot scores are displayed on a <b>0-to-5 scale</b> with zero being most human-like and five being the most bot-like.
                                    |  A score in the middle of the scale is a signal that our classifier is uncertain about the classification.
                                a Download Full Botometer Score Report...
                                div(id="botometer-gauge")
                            button(class="btn btn-primary pull-right", id="botometer-button") check

            div(id="search")
                div(id="personality-algorithm", class="row")
                    div(class="col col-md-10 col-sm-10 col-xs-10")
                        select(class="form-control")
                            option(value="none") Please choose ...
                            option(value="IBM-Watson") IBM Watson Personality Insights
                    div(class="col col-md-2 col-sm-2 col-xs-2")
                div(id="user-search", class="row")
                    div(class="col col-md-10 col-sm-10 col-xs-10")
                        input(class="form-control", placeholder="User's screen name")
                    div(class="col col-md-2 col-sm-2 col-xs-2")
                        img(src="img/botometer-sm-logo.png", data-toggle="tooltip", data-placement="right", title="OSoMe Botometer " +
                        "checks how likely the account is to be a bot. Higher scores are more bot-like. Click to proceed.", class="botometer-icon")

                div(id="brand-search", class="row")
                    div(class="col col-md-10 col-sm-10 col-xs-10")
                        input(class="form-control", placeholder="Brand's screen name")
                    div(class="col col-md-2 col-sm-2 col-xs-2")
                        img(src="img/botometer-sm-logo.png", data-toggle="tooltip", data-placement="right", title="OSoMe Botometer " +
                        "checks how likely the account is to be a bot. Higher scores are more bot-like. Click to proceed.", class="botometer-icon")

                div(class=row)
                    div(class="col col-md-10 col-sm-10 col-xs-10")
                        button(id="analyze-btn", class="btn btn-primary btn-block" disabled) Start Analysis
                    div(class="col col-md-2 col-sm-2 col-xs-2")
                div(class="loading")
                    img(src="img/bae_loading_md.gif")

            div(id="display")
                div(id="comparison")
                    div(class="col col-md-3 col-sm-3 col-xs-12")
                        select(class="form-control", id="similarity-metrics")
                            option(value="none" selected) Please choose...
                            option(value="personality_sim_score") Personality
                            option(value="needs_sim_score") Needs
                            option(value="values_sim_score") Values
                            option(value="consumption_sim_score") Consumption Preference
                    div(class="col col-md-4 col-sm-4 col-xs-12")
                        h2(style="float:right;font-size:50px;") Similarity:
                    div(class="col col-md-4 col-sm-4 col-xs-12")
                        h2(id="similarity-score")
                    div(class="col col-md-1 col-sm-1 col-xs-1")
                        a(href="https://en.wikipedia.org/wiki/Cosine_similarity", target="_blank")
                            i(class="fas fa-exclamation-circle pull-right", data-toggle="tooltip", data-html="true", data-placement="left",
                            title="Click to find out how to calculate similarity score.")

                div(id="twitter-container")
                    div(class="col col-md-6 col-sm-6 col-xs-12")
                        div(id="twitter-user-container")
                    div(class="col col-md-6 col-sm-6 col-xs-12")
                        div(id="twitter-brand-container")

                div(id="history")
                    div(class="col col-md-4 col-sm-4 col-xs-12")
                        div(id="history-links")
                    div(class="col col-md-8 col-sm-8 col-xs-12")
                        div(id="bulk-comparison")
                            div(class="personality-header")
                                h2 Bulk Comparison
                            div(id="history-algorithm")
                                p <b><i>We can only compare results generated by the same algorithms. More algorithms coming soon...</i></b>
                                label(class="radio-inline")
                                    input(type="radio", name="history-algorithm", value="IBM-Personality", checked)
                                    | IBM Personality
                                //label(class="radio-inline")
                                //    input(type="radio", name="history-algorithm", value="TwitPersonality")
                                //    | Twit Personality
                            div(id="history-form")
                            div(id="history-chart")
                            div(id="history-chart-legend")

            include warning.pug
            include error.pug

            script(src="javascript/calcSessionID.js")
            script(src="javascript/termination.js")
            script(src="javascript/indexPublic.js")

